/*---------------------------DIVFORM------------------------------------*/
#form1 {
    margin-top: 30px; 
}
#form1, #form2, #form3{
    padding-left: 2px;
    padding-top: 2px;
    border: 1px solid grey;
    width: 910px; 
}
/*---------------------------ID------------------------------------*/
#identité {
    background-color: rgb(18, 105, 156);
}
#livraison {
    background-color: rgb(151, 20, 155);
}
#paiement {
    background-color: rgb(225, 1, 81);
}
#paiement, #livraison, #identité {
    padding: 10px 0px 10px 10px;
    width: 900px;
    height: auto;
}
/*---------------------------CLASS------------------------------------*/
.titleDiv1, .titleDiv2, .titleDiv3 {
    position: relative;
    z-index: 2;
    margin-top: 1px;
    margin-left: 15px;
}
.titleDiv1 {
    background-color: rgb(18, 105, 156);
    width: 110px;
    margin-bottom: -46px;
}
.titleDiv2 {
    background-color: rgb(151, 20, 155);
    width: 170px;
    margin-bottom: -16px;
}
.titleDiv3 {
    background-color: rgb(225, 1, 81);
    width: 220px;
    margin-bottom: -16px;
}
.divradio {
    padding-left: 45px;
}
.pcarte {
    margin-bottom: 0px;
}
/*---------------------------BALISE--------------------------------------*/
button {
    margin-top: 5px;
    font-size: 15px;
    padding: 3px;
}
input {
    margin-bottom: 5px;
    font-size: 13px;
}
label, p, li {
    font-size: 20px;
}