#identity, #identity legend {
    background-color: rgb(18, 105, 156);
}
#delivery, #delivery legend {
    background-color: rgb(151, 20, 155);
}
#payment, #payment legend {
    background-color: rgb(225, 1, 81);
}
ul li {
    list-style: none;
}